body {
    margin: 0;
    padding: 0;
}

header {
    display: inline;
}

main {
    padding: 20px;
    overflow: auto;
}

.header1 {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
}

.header1 img {
    border-radius: 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #dddddd;
}

footer h2 {
    font-size: 20px;
}